body {
  background-color: #0A0A0A;
}

.itme {
  margin-top: 20%;
}


.itme img {
  float: left;
  max-width: 20%;
  margin-left: -1%;
  padding-bottom: 7%;
  pointer-events: none;
}


hr {
  border-top: 2px solid;
  width: 55%;
  text-align:left;
  margin-left:0;

}
